
#tray {
    background: #030a28;
    border-radius: 999px;
    margin: 1px 1px;
    padding: 0 1px;
}


#tray window{
    background: #030a28;
    margin: 1px 1px;
    padding: 0 1px;
    
}

.modules-left, .modules-center, .modules-right  {
    background: #030a28;
    border-radius: 999px;
    margin: 4px;
    padding: 0 10px;
}

tooltip {
    background: #030a28;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
