* {
	/* Replace with your specific font (e.g., CaskaydiaMono, JetBrainsMono) */
	font-family: "JetBrainsMono Nerd Font Propo";
}

label {
	color: #d6fdfd;
	padding: 0;
	margin: 0;
	min-width: 0;
}

/* #tray {
    border-radius: 999px;
    margin: 1px 1px;
    padding: 0 1px;
}

#tray window{
    margin: 1px 1px;
    padding: 0 1px;
    
} */

.modules-left {
	/* background-color: #050c3b; */
	background-color: #0a165c;
	/* background-color: red; */
	border-radius: 999px;
	margin: 4px 0;
	padding-left: 0px;
	padding-right: 0px;
	/* padding: 0 10px; */
}

.modules-center {
	margin: 4px;
	padding: 0 10px;
}

.modules-center>widget>* {
	background-color: #611588;
	border-radius: 999px;
	padding: 0 10px;
}

.modules-center label {
	color: #d8fcfb
}

.modules-right {
	margin: 4px;
}
.modules-right > widget {
	/* background-color: #250356; */
	/* background-color: #771982; */
	/* background-color: #020922; */
	background-color: #751a81;
	margin: 0;
	padding: 0;
	/* border-color: #771982;
	border-style: solid;
	border-width: 1px; */
	border-radius: 999px;
}

.modules-right>widget>* {
	padding: 0 8px;
}


tooltip {
	background: #000933;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces button {
	border-radius: 999px;
	/* width: 30px; */
}

#workspaces button.active {
	border-radius: 999px;
	background: #02b6eb;
}

#workspaces button.active label {
	color: #ffffff;
}